*{
 text-rendering:optimizeLegibility !important;
 -webkit-font-smoothing:antialiased !important;
 -moz-osx-font-smoothing:grayscale !important;
 letter-spacing:normal !important;
 word-spacing:normal !important;
 transition:normal !important;
 line-height:normal !important;
 text-indent:none !important;
 font-feature-settings:normal !important;
 font-variant:normal !important;
 font-variation-settings:normal !important;
}
body > div.px-auto.flex.w-full.h-screen > div > div.fullwidth-container.chat-container > div > div > div.w-3\/4.flex-col.relative.flex-grow.ml-2.mr-4.my-4.border.bg-gray-100.dark\:bg-dark-800.dark\:border-dark-600.border-gray-200.rounded-lg > div > div.relative > div.chat-container_messages.text-sm.p-4 > div.absolute.bottom-0.right-0.mr-3.mb-8 > div {
  background-color: gray;
  color: white;
}

.font-bold {
  font-weight: 600;
}


p {
  margin-bottom: 1rem;
  text-align: justify;
  text-justify: inter-word;
}

a {
  color: #4355ED;
  text-decoration: none;
}

a:hover {
  color: #0b0080;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f4f4f4;
}

div.flex.h-screen.overflow-y-hidden > div {
  background-color: WhiteSmoke;
}

div.flex.h-screen.overflow-y-hidden {
  background-color: #F1F1F1;
  margin-left: -30px;
}

body > div.px-auto.flex.w-full.h-screen > div > div.fullwidth-container.chat-container > div > div > div.mr-2.ml-4.my-4.border.bg-gray-100.border-gray-200.dark\:bg-dark-800.dark\:border-dark-600.rounded-lg.chat-container_sidebar > div.chat-container_conversations.flex-nowrap.overflow-x-hidden.rounded-b-lg.bg-white.dark\:bg-dark-800.overflow-y-auto > div > div > div > div > li > a > div.flex.items-center.whitespace-nowrap.truncate.py-1.flex-grow > div.flex-col.truncate.flex-grow > div > div {
  font-size: 1.1rem;
  font-family: 'Roboto', Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
}


body > div.px-auto.flex.w-full.h-screen > div > div.fullwidth-container.chat-container > div > div > div.mr-2.ml-4.my-4.border.bg-gray-100.border-gray-200.dark\:bg-dark-800.dark\:border-dark-600.rounded-lg.chat-container_sidebar > div.chat-container_conversations.flex-nowrap.overflow-x-hidden.rounded-b-lg.bg-white.dark\:bg-dark-800.overflow-y-auto > div > div > div > div > li {
 box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 16px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
border-radius: 1vw;
background-color: #fafafa;
}

body > div.px-auto.flex.w-full.h-screen > div > div.fullwidth-container.chat-container > div > div > div.mr-2.ml-4.my-4.border.bg-gray-100.border-gray-200.dark\:bg-dark-800.dark\:border-dark-600.rounded-lg.chat-container_sidebar > div.chat-container_conversations.flex-nowrap.overflow-x-hidden.rounded-b-lg.bg-white.dark\:bg-dark-800.overflow-y-auto > div > div > div > div > li:hover {
 zoom: 102%;
 margin: 4px;
 color: black;
 font-weight: 600;
 box-shadow: rgba(0, 0, 0, 0.26) 0px 10px 26px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 2px;
border-radius: 1.5vw;
background-color: white;
}

div.flex.flex-col.text-white.w-full.text-sm {
zoom: 100%;
width: 3vw;
margin: 0px;
background-color:  #f6f6f6 ;
border: 0px;
box-shadow: rgba(0, 0, 0, 0.26) 0px 10px 26px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 2px;
}

 /* span of our text */
 span.chat-text-message-primary {
  -webkit-transition: none !important;
 -moz-transition: none !important;
 color: white !important;
 font-weight: 500 !important;
 box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
 user-select: text !important;
 padding: 5px !important;
 text-rendering: optimizeLegibility !important;
 border-radius: 7px !important;
 direction: ltr !important;
 font-family: "Roboto", Arial, "Lucida Grande", sans-serif !important;
 font-size: 1rem !important;
 line-height: 18px !important;
 text-decoration: rgb(36, 41, 46) !important;
 text-indent: 0px !important;
 text-transform: none !important;
 word-spacing: 0px; /* Color & Background */
  cursor: auto !important;
 visibility: visible; /* Effects */
  transition: all 0.15s ease-in 0s !important;
 outline-offset: 0px !important;
 resize: none !important;
 text-shadow: none !important;
 text-overflow: clip !important;
 word-wrap: normal !important;
 }
  
   /* span of customer text */
  span.chat-text-message {
    -webkit-transition: none !important;
 -moz-transition: none !important;
 border-top-color: rgb(36, 41, 46) !important;
 font-weight: 400 !important;
 box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
 user-select: text !important;
 background-color: #FAFAFA !important;
 padding: 5px !important;
 text-rendering: optimizeLegibility !important;
 border-radius: 7px !important;
 direction: ltr !important;
 font-family: "Roboto", Arial, "Lucida Grande", sans-serif !important;
 font-size: 1rem !important;
 font-style: normal !important;
 font-variant: normal !important;
 letter-spacing: normal !important;
 line-height: 18px !important;
 text-decoration: rgb(36, 41, 46) !important;
 text-indent: 0px !important;
 text-transform: none !important;
 word-spacing: 0px; /* Color & Background */
  cursor: auto !important;
 visibility: visible; /* Effects */
  transition: all 0.15s ease-in 0s !important;
 outline-offset: 0px !important;
 resize: none !important;
 text-shadow: none !important;
 text-overflow: clip !important;
 word-wrap: normal !important;
 }

.chat-container_tags-top-bar {
  background-color: #F6F6F6;
}

div.chat-container_messages.text-sm.p-4 {
  background-color:  #F2F2F2 ;
}

div.chat-container_tags-top-bar.shadow.rounded-t-lg.bg-white.dark:bg-dark-800.px-4.py-4 {
  background-color:   #F2F2F2;
}


div.px-2.p-1.cursor-pointer.text-sm.radius.rounded.inline-block.items-center {
  display: none;
}

span:nth-child(1) > span:nth-child(2) {
  font-family: consolas;
  user-select: none;
}

span span span {
  font-family: Arial, Helvetica, sans-serif;
}

div.absolute.top-0.left-0.w-full.text-sm.p-3.z-10.bg-green-100.text-green-600.dark:bg-green-500.dark:text-white {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
