* {
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
letter-spacing: normal;
word-spacing: normal;
transition: normal;
line-height: normal;
text-indent: none;
font-feature-settings: normal;
font-family: ui-sans-serif,system-ui,-apple-system,Segoe UI,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
font-variant: normal;
font-variation-settings: normal;

}

body > div.px-auto.flex.w-full.h-screen > div > div.fullwidth-container.chat-container > div > div > div.w-3\/4.flex-col.relative.flex-grow.ml-2.mr-4.my-4.border.bg-gray-100.dark\:bg-dark-800.dark\:border-dark-600.border-gray-200.rounded-lg > div > div.relative > div.chat-container_messages.text-sm.p-4 > div.absolute.bottom-0.right-0.mr-3.mb-8 > div {
  background-color: gray;
  color: white;
}

div.mt-10 > span {
box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
 

.message-id-1002988295 > span:nth-child(1) > span:nth-child(1) > span {
  color: black;
}
body > div.px-auto.flex.w-full.h-screen > div > div.fullwidth-container.chat-container > div > div > div.w-3\/4.flex-col.relative.flex-grow.ml-2.mr-4.my-4.border.bg-gray-100.dark\:bg-dark-800.dark\:border-dark-600.border-gray-200.rounded-lg > div > div.relative > div.chat-container_messages.text-sm.p-4 > div.grouped-conversation.mb-10.is-first > div.chat-container_messages_row.px-10.mt-1.flex.message-id-1098023349.grouped-thread > span > span.chat-text-message_content {
text-shadow: none;
-webkit-transition: none !important;
-moz-transition: none !important;
transition: none !important;
font-family: arial, sans-serif;
 color: #424242 !important;
letter-spacing: 0.1px;
word-spacing: 0.1px;
font-weight: 400;
margin-top: 1vh;
user-select: text;    
padding: 0px;
text-rendering: optimizeLegibility;
width: auto;
background-color: #fcfcfc !important;
text-indent: none;
text-decoration: none;
text-align: left;
font-size: 1rem;
direction: ltr;
}

.font-bold {
  font-weight: 600;
}

span {
  font-family: Arial, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: normal;
  text-shadow: none;
  text-rendering: optimizeLegibility;
}

p {
  margin-bottom: 1rem;
  text-align: justify;
  text-justify: inter-word;
}

a {
  color: #4355ED;
  text-decoration: none;
}

a:hover {
  color: #0b0080;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f4f4f4;
}

div.flex.h-screen.overflow-y-hidden > div {
  background-color: WhiteSmoke;
}

div.flex.h-screen.overflow-y-hidden {
  background-color: #F1F1F1;
  margin-left: -30px;
}

body > div.px-auto.flex.w-full.h-screen > div > div.fullwidth-container.chat-container > div > div > div.mr-2.ml-4.my-4.border.bg-gray-100.border-gray-200.dark\:bg-dark-800.dark\:border-dark-600.rounded-lg.chat-container_sidebar > div.chat-container_conversations.flex-nowrap.overflow-x-hidden.rounded-b-lg.bg-white.dark\:bg-dark-800.overflow-y-auto > div > div > div > div > li > a > div.flex.items-center.whitespace-nowrap.truncate.py-1.flex-grow > div.flex-col.truncate.flex-grow > div > div {
  font-size: 1.1rem;
  font-family: Arial, sans-serif;
  font-weight: 600;
}


body > div.px-auto.flex.w-full.h-screen > div > div.fullwidth-container.chat-container > div > div > div.mr-2.ml-4.my-4.border.bg-gray-100.border-gray-200.dark\:bg-dark-800.dark\:border-dark-600.rounded-lg.chat-container_sidebar > div.chat-container_conversations.flex-nowrap.overflow-x-hidden.rounded-b-lg.bg-white.dark\:bg-dark-800.overflow-y-auto > div > div > div > div > li {
 box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 16px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
border-radius: 1vw;
background-color: #fafafa;
}

body > div.px-auto.flex.w-full.h-screen > div > div.fullwidth-container.chat-container > div > div > div.mr-2.ml-4.my-4.border.bg-gray-100.border-gray-200.dark\:bg-dark-800.dark\:border-dark-600.rounded-lg.chat-container_sidebar > div.chat-container_conversations.flex-nowrap.overflow-x-hidden.rounded-b-lg.bg-white.dark\:bg-dark-800.overflow-y-auto > div > div > div > div > li:hover {
 zoom: 102%;
 margin: 4px;
 color: black;
 font-weight: 600;
 box-shadow: rgba(0, 0, 0, 0.26) 0px 10px 26px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 2px;
border-radius: 1.5vw;
background-color: white;
}

div.flex.flex-col.text-white.w-full.text-sm {
  zoom: 100%;
  width: 3vw;
  margin: 0px;
  background-color:  #f6f6f6 ;
  border: 0px;
   box-shadow: rgba(0, 0, 0, 0.26) 0px 10px 26px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 2px;

}

 /* span of our text */
span.chat-text-message-primary {
  text-shadow: none;
-webkit-transition: none !important;
-moz-transition: none !important;
transition: none !important;
font-family: arial, sans-serif;
 color: white !important;
letter-spacing: 0.1px;
word-spacing: 0.1px;
font-weight: 400;
user-select: text;    
padding: 8px;
text-rendering: optimizeLegibility;
width: auto;
text-indent: none;
text-decoration: none;
text-align: left;
font-size: 1rem;
direction: ltr;
  
}

div.chat-container_messages.text-sm.p-4 {
  background-color:  #f0f0f0 ;
}

div.chat-container_tags-top-bar.shadow.rounded-t-lg.bg-white.dark:bg-dark-800.px-4.py-4 {
  background-color:   #f5f5f5;
}


div.px-2.p-1.cursor-pointer.text-sm.radius.rounded.inline-block.items-center {
  display: none;
}
