* {
 text-rendering:optimizeLegibility !important;
 -webkit-font-smoothing:antialiased !important;
 -moz-osx-font-smoothing:grayscale !important;
 letter-spacing:normal !important;
 word-spacing:normal !important;
 transition:normal !important;
 line-height:normal !important;


font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* parent of logo > inside > content  */
div > div > div > div  > div > div {
  /* background-color: ye
  llow;*/
  padding-top: 0.5dvh;
  padding-left: 10px;
  color: white;

}
/* like dislike and copy buttons  */
div.text-gray-400 {
  margin-right: 10px;
  color: white;
}

/* everything inside chat window  */
div > div > div > div > div > div > div > div > div > div > div > * > *  {
  letter-spacing: normal;
  line-height: 9px;
  word-spacing: normal;
  border-radius: 3px;
  font-size: 1.2rem;
  margin-bottom: 1px;
  margin-top: .5rem;
  text-rendering: optimizeLegibility;
  text-shadow: none;
  direction: ltr;
}

/* logo > inside > content  */
div > div > div > div > div > div > div > div {
  /* background-color: yellow;*/
 /* max-width: 85dvw; */
  max-width: inherit;
display: normal;
  width: normal;
  background-color:  #323232;
  padding-bottom: 0.01dvh;
  border-radius: 10px;
  margin-top: -8px;
  padding-top: 1dvh;
  margin-right: -10px;
}

div > div > div > div > div > div > div > div > div > div > div :nth-child(1) > div {
  /* background-color: blue; */ 
  word-wrap: wrap;
  padding-top: 0.1dvh;
  font-size: 1.2rem;
}

svg.h-6.w-6 {
  background-color:#f0f00a;
  border: solid, 1px,  yellow;
    margin: 5px;
    

}

svg.h-6.w-6:hover {
            transform: rotateY(360deg); /* 360-degree flip around the Y-axis */    transform-style: preserve-3d;
transition: transform 0.8s; 
}

div.relative.p-1.rounded-sm.h-9.w-9.text-white.flex.items-center.justify-center {
  background-color:#f0f00a;
  color: black;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
div div p {
  color: #F4F4F4;
  font-weight: 500;
  font-size: 1.2rem;
    -webkit-transition: none !important;
 -moz-transition: none !important;
 box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
 user-select: text !important;
 padding: 2px !important;
 text-rendering: optimizeLegibility !important;
 border-radius: 7px !important;
 direction: ltr !important;
 line-height: 18px !important;
 text-decoration: rgb(36, 41, 46) !important;
 text-indent: 0px !important;
 text-transform: none !important;
 word-spacing: 0px; /* Color & Background */
  cursor: auto !important;
 visibility: visible; /* Effects */
  transition: all 0.15s ease-in 0s !important;
 resize: none !important;
 text-shadow: none !important;
 text-overflow: clip !important;
 word-wrap: normal !important;
}

div.markdown.prose.w-full.break-words.dark {
 /*   background-color: black; */
  padding: 0px;
  border-radius: 10px;
  max-width: 80dvw;

}

bold, b, em, strong {
  color:  white;
  font-weight: 500;
}

div.flex-shrink-0.flex.flex-col.relative.items-end {
  width: 3px;
  background-color: #444654;;
  border-radius: 15px;
  
}
ul, p, li {
  font-size: 1.2rem;

}

div ul li {
  font-size: 1.2rem;
}

li ul li {
  font-size: 1.2rem;

}


ul li strong {
  font-weight: 400;
}

