* {
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
letter-spacing: normal;
word-spacing: normal;
transition: normal;
line-height: normal;
text-indent: none;
font-feature-settings: normal;
font-family: ui-sans-serif,system-ui,-apple-system,Segoe UI,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
font-variant: normal;
font-variation-settings: normal;
font-size: 1.2rem;
}

b, bold, strong {
font-weight: 500;
color: black;

}
tr {
  padding: 3px;
}
header {
  height: 6vh;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 16px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}

::-webkit-scrollbar {
    width: 0.8rem;
    background: #fff;
}

span.ams.bkH {
  background-color: #daf5ef;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 16px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

span.ams.bkG {
    background-color: #adf0b3;
    font-weight: 600;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 16px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
