div.submenu__header__title.flex-auto.min-w-0 {
  display:none;
  margin:0;
  padding: 0;
}

a.ember-view.left-nav__link.o__logo.t__no-decoration.left-nav__updated.rounded-br-lg.bg-gray-light {
    display:none;
  margin:0;
  padding: 0;
}

a.left-nav__link.o__bottom__item.o__messenger.ember-view {
    display:none;
  margin:0;
  padding: 0;
}

a.left-nav__link.o__bottom__item.o__appstore.ember-view {
    display:none;
  margin:0;
  padding: 0;
}

a.ember-view.left-nav__link.o__product.product-icon__link.js__product-tour-nav-wrapper.o__subscribed.rounded-tr-lg.bg-gray-light {
    display:none;
  margin:0;
  padding: 0;
}

a.submenu__sections__section__title__link {
    display:none;
  margin:0;
  padding: 0;
}

div.submenu__sections.flex-auto.flex.flex-col.overflow-auto.ember-view {
  width: 65%;
}

div.ember-view.conversation__inbox__list.o__vertical-nav.flex-none.flex.flex-col {
    width: 80%;
    margin: 0;
    padding: 0;
    border: 0;
    
}

div.conversation__inbox__list-wrapper.skiptranslate.notranslate {
  width: 15%;
  padding: 0;
  margin: 0;
  border: 0;
  left: 2vw;  
}

div.ember-view.conversation__stream.u__relative.u__3dfix.flex-1 {
    width: 50vw;
    margin: 0;
    padding: 0;
    border: 0;
    
}

div.conversation__outlet__inner__background.o__plain.ember-view {
  right: 44vw;
      left :3vw;

  padding: 0;
}

a.u__pointer-cursor.left-nav__link.o__product-changes.o__bottom__item {
      display:none;
  margin:0;
  padding: 0;
}

a.ember-view.left-nav__link.o__product.o__subscribed.product-icon__link.js__ghostinspector__nav__platform {
      display:none;
  margin:0;
  padding: 0;
}

div.flex-none.flex.flex-col.left-nav.ember-view {
  width: 2%;
  margin:0;
  padding: 0;
}

svg.interface-icon.o__standard.o__standard__tooltip {
    margin:0;
  padding: 0;
  display: none;
}

svg.interface-icon.o__standard.o__standard__clock {
    margin:0;
  padding: 0;
  display: none;
}

div.ember-view {
  right: 0.2vw;
}



div.flex.flex-col.conversation__inbox__current-context {
  width: 24%;
}

div.intercom-lightweight-app-launcher-icon.intercom-lightweight-app-launcher-icon-open {
    padding: 0;
  display: none;
}

div.intercom-lightweight-app-launcher.intercom-launcher {
    padding: 0;
  display: none;
}

div.submenu.flex-none.flex.flex-col.ember-view {
  right: 4vw;
}

div.conversation__inbox {
width: 100%;
margin: 0;
padding: 0;
}


