* {
  font-size: 18px;
  line-height: 18px;
  font-stretch: 0;
}
div.submenu__sections.flex-auto.flex.flex-col.overflow-auto.ember-view {
  width: 80%;
  border: 0;
  margin: 0;
  padding: 0;
  
}

.submenu {
    background-color: #f1f1f1;
    color: #737376;
    /* width: 230px; */
}

a.ember-view.left-nav__link.o__logo.t__no-decoration.left-nav__updated.rounded-br-lg.bg-gray-light {
  display: none;
}

a.left-nav__link.o__bottom__item.o__appstore.ember-view {
    display: none;
}

a.u__pointer-cursor.left-nav__link.o__product-changes.o__bottom__item {
    display: none;
}

div.flex-auto.min-w-0.submenu__header__title {
    display: none;
}

div.u__relative.u__right.inbox__inbox-of-love__opener.o__unseen-rating.ember-view {
    display: none;
}

a.ember-view.submenu__sections__section__title__link {
    display: none;
    
}

div.mt-2.mr-1.mb-2.u__cf {
    display: none;
}

div.ember-view.conversation__inbox__list.o__vertical-nav.flex-none.flex.flex-col {
  right: 1vw;
  margin-right: 3vw;
  padding: 0;
  border: 0;
  align-content: center;
  width: 25vw;
  zoom: 85%
}

.conversation__stream {
  flex: 1;
  font: inherit;
  overflow-y: scroll;
  zoom: 65%;
  width: 73vw;
  right: 2.8vw;
}

svg.interface-icon.o__standard.o__standard__product-tours {
  display: none;
}

div.inbox__conversation-controls__inserter.inbox__conversation-controls__inserter-opener {
  display: none;
}

svg.interface-icon.o__standard.o__standard__app-store {
  display: none;
}

div.inbox__conversation-controls__inserter.ember-view {
  display: none;
}

div.flex.flex-row.flex-wrap.items-start {
  display: none;
}

div.inbox__conversation-sidebar__conversation-attributes__attribute-row {
  display: none;
}

a.quick-action.o__inbox-composer-help-opener {
  display: none;
}

.conversation__inbox__list {
    overflow: auto;
    bottom: 0;
    /* position: absolute; */
    width: 100%;
    z-index: 1;
    zoom: 85%;
    background-color: #fff;
}



.conversation__outlet__inner__background.o__background-gray {
    background-color: #ffffff;
    opacity: 1;
}

.avatar__media {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: bottom;
    border-radius: 50%;
    background-clip: padding-box;
    box-sizing: border-box;
}

div.submenu__sections__section__title__link.inbox2__inbox1-link.cursor-pointer {
  display: none;
}

div.flex-none.flex.flex-col.left-nav.ember-view {
  zoom: 65%
}

div.submenu.flex-none.flex.flex-col.ember-view {
   zoom: 85%
}

div.inbox__card__header.flex.items-center.o__with-title {
   zoom: 75%;
}

a.left-nav__link.o__bottom__item.o__messenger.ember-view {
  display: none;
}

div.flex.flex-col.conversation__inbox__current-context {
  zoom: 65%;
}

.main__content-outlet {
    left: 17vw;
}

.conversation__inbox__current-context {
    width: 27%;
}

.z-10 {
    z-index: 10;
    zoom: 65%;
    height: 18vh;
}

.conversation__inbox__list-header {
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Droid Sans","Helvetica Neue",sans-serif;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    font-weight: 200;
    box-sizing: border-box;
    height: 4vh;
    padding: 0 10px;
}

div.submenu__header.flex-none.flex.items-center.ember-view {
  padding: 0;
  height: 5vh;
  background-color: white;
}

a.submenu__sections__section__title__link {
  font-weight: lighter;
  padding: 0.3vw;
}

element.style {
    margin: 0px;
    /* inset: auto auto 0px 0px; */
    transform: translate(441px, 338px);
}

[data-popover-content] {    
    position: relative;
    
}
