div.submenu__header__title.flex-auto.min-w-0 {
  display:none;
  margin:0;
  padding: 0;
}

a.ember-view.left-nav__link.o__logo.t__no-decoration.left-nav__updated.rounded-br-lg.bg-gray-light {
    display:none;
  margin:0;
  padding: 0;
}

a.left-nav__link.o__bottom__item.o__messenger.ember-view {
    display:none;
  margin:0;
  padding: 0;
}

a.left-nav__link.o__bottom__item.o__appstore.ember-view {
    display:none;
  margin:0;
  padding: 0;
}

a.ember-view.left-nav__link.o__product.product-icon__link.js__product-tour-nav-wrapper.o__subscribed.rounded-tr-lg.bg-gray-light {
    display:none;
  margin:0;
  padding: 0;
}

a.submenu__sections__section__title__link {
    display:none;
  margin:0;
  padding: 0;
}

div.submenu__sections.flex-auto.flex.flex-col.overflow-auto.ember-view {
  width: 65%;
}

div.ember-view.conversation__inbox__list.o__vertical-nav.flex-none.flex.flex-col {
    width: 85%;
    margin: 0;
}

div.conversation__inbox__list-wrapper.skiptranslate.notranslate {
  width: 15%
}

div.ember-view.conversation__stream.u__relative.u__3dfix.flex-1 {
    right: 7vw;
    width: 112%;
}
