
/*focus on unasigned*/
div > a > div.flex.flex-row.flex-grow.items-center.duration-100.truncate.text-sm.leading-4 > span.inline-flex.items-center.gap-1.text-gray.dark\:text-dm-white {
  font-weight: bolder;
  color: black;
  font-size: 1.3em;
  background-color: oldlace;  
}

 * {
font-family: arial, sans-serif;
}

#ember4 > div.app__wrapper.test__app-wrapper.flex-none.flex.flex-col > div > div > div > div > div.flex.flex-col.flex-grow > div.flex.flex-row.flex-grow.h-0 > div.inbox2__conversation-page.flex.flex-row.flex-1.relative > div.flex.flex-row.inbox2__conversation-details-sidebar.border-l.border-gray-light.dark\:border-dm-gray-darker > div.flex.flex-col.flex-1.relative.overflow-hidden {
  padding-left: 0;

}


/*recua margem e p/ left*/
.px-6 {
 padding-left: 4.4%;
 padding-right: 2%;
 
}

/* aumenta visao chat 3a tab */
#ember4 > div.app__wrapper.test__app-wrapper.flex-none.flex.flex-col > div > div > div > div > div.flex.flex-col.flex-grow > div.flex.flex-row.flex-grow.h-0 > div.inbox2__conversation-page.flex.flex-row.flex-1.relative > div.flex.flex-col.inbox2__conversation-stream > div.inbox-2__conversation-page__body.flex.flex-col.h-full > div.flex.flex-grow.flex-1.flex-col.overflow-y-auto.dark\:bg-dm-black.pb-8.pt-2.px-6 {
  width: 68.5vw;
}



#ember4 > div.app__wrapper.test__app-wrapper.flex-none.flex.flex-col > div > div > div > div > div.flex.flex-col.flex-grow > div.flex.flex-row.flex-grow.h-0 > div.inbox2__conversation-page.flex.flex-row.flex-1.relative > div.flex.flex-col.inbox2__conversation-stream > div.inbox-2__conversation-page__body.flex.flex-col.h-full   {
background-color: #f8f8f8;
width: 67.5vw;
box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
margin-left: 0;
padding: 0;
border: 0;
zoom: 80%;

}



  /* 1st div*/
.inbox2__inbox-list-sidebar.o__open {
    width: 7vw;
          box-shadow: rgb(0 0 0 / 10%) 0px 2px 10px !important;
          border-radius: 1vw;
          zoom: 90%;
  font-size: 1em;
}
.inbox2__inbox-list-sidebar.o__open:hover {
zoom: 130%;
}
svg, button, btn, input[button] {
  color: black;
  background-color: white;
  
  border-radius: 1vw;
  
}

svg, button, btn, input[button]:hover {
  color: black;
  background-color: #f1f1f1;
  font-weight: bold;
  zoom: 105%;
  
  border-radius: 1vw;
  
}




  /* 3tab chat "box" properties*/
  .inbox-2__conversation-page__body {
      max-width: 120% !important;
      font-size: 1em;
      border: 0;
      padding: 0;
      margin-left: -0.2vw;
      width: 47vw;
      padding-left: 0;
      box-shadow: rgb(0 0 0 / 15%) 0px 4px 40px !important;
  } 
  



/* margin to titulo do chat geral */
.flex-col.gap-2 {
    margin-top: 0px
  }

 
/* preview last conversation  */
  #ember6 > div.app__wrapper.test__app-wrapper.flex-none.flex.flex-col > div > div > div > div > div.flex.flex-col.flex-grow > div > div.inbox2__conversation-page.flex.flex-row.flex-1.relative > div.flex.flex-row.inbox2__conversation-details-sidebar.border-l.border-gray-light.dark\:border-dm-gray-darker > div:nth-child(1) > div > div > div > div {
    zoom:40%;
    width:50vw;
    font-size: 1em;
  }
  

/* preview last conversation  */
  #ember23412 > div > div.flex.flex-row.inbox2__renderable-part.inbox2__break-words.p-4 > div > div > div:nth-child(6) > p {
    font-size: 2em;
  }
/* preview last conversation  */
  #ember23412 > div > div.flex.flex-row.inbox2__renderable-part.inbox2__break-words.p-4 > div > div > div:nth-child(2) > p {
        font-size: 2em;

  }
  /* preview last conversation  */

  #ember23412 > div > div.flex.flex-row.inbox2__renderable-part.inbox2__break-words.p-4 > div > div > div:nth-child(12) > p {
            font-size: 2em;

  }


  .intercom-lightweight-app-launcher-icon-open {
      display: none;
  }
  .intercom-lightweight-app-launcher {
      display: none;
  }
  .intercom-lightweight-app {
      display: none;
  }

  
  
  /* cli email last div */
  
  div.flex.flex-row.items-center.h-8:nth-child(5) {
      background-color: oldlace;
      font-size: 1.3em;
      font-weight: 600;
      
  }
 
  .text-white {
      color: black;
      font-weight: normal;
  }
  .text-white {
      color: black !important;
  }
  strong {
      font-weight: 600;
  }
  b {
      font-weight: 600;
  }
  i {
      font-style: italic;
  }
  
  a:visited {
      text-decoration: none;
  } 
  a:active {
    color: blue;
      /* text-decoration: underline; */
  }

  .inbox__conversation-sidebar__shopify__hoverable:hover {
      background-color: #f9f9f9;
  } 
  
  /* make img smaller lol */
  .inbox2__renderable-part img {
      zoom: 50%;
      margin-top: 10vh;
      border-radius: 4px;
      border: 1px solid transparent;
      transition: box-shadow 0.1s ease;
  }
  .inbox2__renderable-part img:hover {
      max-width: 80%;
      height: auto;
      border-radius: 4px;
      border: 1px solid transparent;
      transition: box-shadow 0.1s ease;
  }
  div.flex.flex-row.items-center.h-8 > p:nth-child(3) {
      background-color: oldlace;
      margin-right: 24px;
  }
  div.flex.flex-row.items-center.h-8:nth-child(5):hover {
      background-color: oldlace;
  } 
  
  #ember700 > div > div > div:nth-child(1) {
      font-size: 0.9em;
      background-color: #f4f4f4;
  } /* padding of some stuff */
  .p-4,
  .p-3 {
      padding: 8px;
  } /* remove alert when afk; */
  #ember4 > div.app__wrapper.test__app-wrapper.flex-none.flex.flex-col > div > div > div > div.flex.flex-row.flex-grow.h-0 > div.flex.flex-col.flex-grow > div.text-center.font-medium.p-3.bg-yellow-light.text-yellow-dark.flow-root {
      display: none;
  } /* remove alert when afk; */
  #ember4 > div.app__wrapper.test__app-wrapper.flex-none.flex.flex-col > div > div > div > div.text-center.font-medium.p-3.bg-yellow-light.text-yellow-dark.rounded-tl-2xl.flow-root {
      display: none;
  }
 
  .display-text {
    font-family: arial, sans-serif;
      color: black;
      font-weight: normal;
  }
  .embercom-composer-editor {
      -webkit-font-smoothing: none;
  }
  .inbox__conversation-composer__wrapper .embercom-prosemirror-composer-placeholder {
      color: black;
      -webkit-font-smoothing: unset;
      -moz-osx-font-smoothing: unset;
  }
  .list-none {
      list-style-type: none;
      margin-bottom: 2px;
  } /* 2nd tab preview increase text and content to make it easier; */

#ember4
      > div.app__wrapper.test__app-wrapper.flex-none.flex.flex-col
      > div
      > div
      > div
      > div
      > div.flex.flex-col.flex-grow
      > div
      > div.flex.flex-col.inbox2__conversation-list-sidebar.border-r.dark\:border-dm-gray-darker
      > div
      > div.overflow-y-auto.pb-17 {  
      width: 108%;
      zoom: 96%;
      font-size: 16px;
      margin-left: -16px;
      }

  #ember4
      > div.app__wrapper.test__app-wrapper.flex-none.flex.flex-col
      > div
      > div
      > div
      > div
      > div.flex.flex-col.flex-grow
      > div
      > div.flex.flex-col.inbox2__conversation-list-sidebar.border-r.dark\:border-dm-gray-darker
      > div
      > div.overflow-y-auto.pb-17
      > ul { 
      padding: 0;
      width: 101%;
      
      }

  #ember4
      > div.app__wrapper.test__app-wrapper.flex-none.flex.flex-col
      > div
      > div
      > div
      > div
      > div.flex.flex-col.flex-grow
      > div
      > div.flex.flex-col.inbox2__conversation-list-sidebar.border-r.dark\:border-dm-gray-darker
      > div
      > div.overflow-y-auto.pb-17
      > ul
      > div
      > div
      > li * {
       color: black !important;
    zoom: 90% !important;
    font-family: arial, sans-serif;
    letter-spacing: 0 !important;
    background-color: #fcfcfc !important;
    border-radius: 0.1px;
    margin-bottom: -2px !important;
    padding-bottom: 2px;
    padding: 0px !important;
  }

  #ember4
      > div.app__wrapper.test__app-wrapper.flex-none.flex.flex-col
      > div
      > div
      > div
      > div
      > div.flex.flex-col.flex-grow
      > div
      > div.flex.flex-col.inbox2__conversation-list-sidebar.border-r.dark\:border-dm-gray-darker
      > div
      > div.overflow-y-auto.pb-17
      > ul
      > div
      > div
      > li
      > a
      * {
       color: black !important;
    zoom: 93% !important;
    font-size: 0.98em !important;
    font-weight: 500 !important;
    text-shadow: 0 !important;
    font-family: arial, sans-serif;
    letter-spacing: 0 !important;
    background-color: #fcfcfc !important;
    border-radius: 0.1px;
    margin-bottom: -2px !important;
    padding-bottom: 2px;
    padding: 0px !important;
  } /* 2nd tab preview increase text and content to make it easier; */
  #ember4
      > div.app__wrapper.test__app-wrapper.flex-none.flex.flex-col
      > div
      > div
      > div
      > div
      > div.flex.flex-col.flex-grow
      > div
      > div.flex.flex-col.inbox2__conversation-list-sidebar.border-r.dark\:border-dm-gray-darker
      > div
      > div.overflow-y-auto.pb-17
      > ul
      > div
      > div
      * {
      background-color: #fcfcfc;
      margin: -2px;
      border-radius: 10px;
      padding: 10px;
      font-size: 0.9em;
  } /* 2nd tab preview increase text and content to make it easier; */
  #ember4
      > div.app__wrapper.test__app-wrapper.flex-none.flex.flex-col
      > div
      > div
      > div
      > div
      > div.flex.flex-col.flex-grow
      > div
      > div.flex.flex-col.inbox2__conversation-list-sidebar.border-r.dark\:border-dm-gray-darker
      > div
      > div.overflow-y-auto.pb-17
      > ul
      > div
      > div
      > li {
      background-color: #f7f8ff;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  } /* 2nd tab preview increase text and content to make it easier; */
  #ember4
      > div.app__wrapper.test__app-wrapper.flex-none.flex.flex-col
      > div
      > div
      > div
      > div
      > div.flex.flex-col.flex-grow
      > div
      > div.flex.flex-col.inbox2__conversation-list-sidebar.border-r.dark\:border-dm-gray-darker
      > div
      > div.overflow-y-auto.pb-17
      > ul
      > div
      > div
      > li
      > * {
      background-color: silver;
      margin-bottom: 10px;
      margin-top: 14px;
      margin-left: 4px;
      margin-right: 4px;
      border: 2px;
      padding: 3px;
      border-radius: 20px;
      font-size: 1.1em;
      letter-spacing: 0;
    font-family: arial, sans-serif;
  } /* 2nd tab preview increase text and content to make it easier; */
  #ember4
      > div.app__wrapper.test__app-wrapper.flex-none.flex.flex-col
      > div
      > div
      > div
      > div
      > div.flex.flex-col.flex-grow
      > div
      > div.flex.flex-col.inbox2__conversation-list-sidebar.border-r.dark\:border-dm-gray-darker
      > div
      > div.overflow-y-auto.pb-17
      > ul
      > div
      > div
      > li
      > *:hover {
      zoom: 105%;
      font-weight: 600;
  }
   /* line clamp mostly affect 2nd tab preview(increased from 1) */
  .line-clamp-1   {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      margin-bottom: -2px;
  } 
  
  /* line clamp mostly affect 2nd tab preview(increased from 1) */
  .line-clamp-2 {    
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
  } 
  
  /* color of 2nd tab */
  div.flex.flex-col.flex-1.h-full.relative {
      box-shadow: rgb(0 0 0 / 25%) 1000px 3px !important;
      background-color: #f9f9f9;
  }
  .filter-block {
      /* background-color: #f1f1f1; */
      border: 1px solid #f1f1f1;
      color: black;
      border-radius: 6px;
  }
  
 
   /* chat header title  */
  .inbox-2__conversation-header {
      margin-bottom: -1.2vh;
      width: 100%;
      font-size: 1em;
      text-decoration: none;
      margin-left: auto;
      margin-right: auto;
  } /* last grid ( email etc)  */
  .inbox2__conversation-details-sidebar {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      text-shadow: 0;
      width: 25, 5%;
      max-width: 440px;
      transform: var(--conversation-details-sidebar-transform);
      transition: transform 250ms ease-in-out;
      z-index: 2500;
  } /* CHAT */
  div div p {
     text-shadow: none;
      -webkit-transition: none !important;
      -moz-transition: none !important;
      -o-transition: none !important;
      transition: none !important;
    font-family: arial, sans-serif;
      color: #424242 !important;
      letter-spacing: 0.1px;
      word-spacing: 0.1px;
      font-weight: 400;
      margin-top: 1vh;
    
      padding: 0px;
      text-rendering: optimizeLegibility;
      width: auto;
      background-color: #fcfcfc !important;
      text-indent: none;
      text-decoration: none;
      text-align: left;
      font-size: 1.3rem;
      direction: ltr;
  }

  .bg-blue-light-ib2 {
      box-shadow: -1px 0 8px -2px rgb(34 39 64 / 15%);
      font-size: 1em !important;
      padding: 2px;
      border: 1px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-shadow: 0;
      text-rendering: optimizeLegibility;
      color: black;
    font-family: arial, sans-serif;
      background-color: #fcfcfc;
      text-decoration: none;
  }
  
  .transition-colors {
      transition-property: none;
  } /* CHAT */
  .text-black {
      color: black;
  } 
  
  
  /* CHAT(customer) */
  .bg-gray-lightest {
      text-shadow: none;
      -webkit-transition: none !important;
      -moz-transition: none !important;
      -o-transition: none !important;
      transition: none !important;
    font-family: arial, sans-serif;
      color: #424242 !important;
      letter-spacing: 0.1px;
      word-spacing: 0.1px;
      font-weight: 400;
      margin-right: 1px;
      margin-left: -5px;
      padding: 0px;
      border-radius: 0;
        text-rendering: optimizeLegibility;
      background-color: #fcfcfc !important;
      text-indent: none;
      text-decoration: none;
      text-align: left;
      font-size: 1rem;
      direction: ltr;
  }
  
 
  .pr-3 {
      font-size: 1.4em;
  }
  .truncate {
    color: black;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 1px 0px;
      font-size: 0.85em;
    padding: 0;
 
      }
  div.flex.flex-row.items-center.justify-between.mt-3.h-8 {
      display: none;
  }
  div.flex.flex-col.gap-4 {
     margin-right: -2vw;
      flex-direction: column;
      align-items: flex-start;
      color: rgb(36, 41, 46);
      padding-left: 0.1px;
    font-family: arial, sans-serif;
      font-size: 1em;
      text-decoration: none;
  }
  .text-lg {
    font-size: 15px !important;
    font-weight: 500;
    color: #272727;
    margin-bottom: 2px;
    font-family: arial, sans-serif;
    
}
  div.flex-1.font-brand.font-medium.inbox2__sidebar-section-heading.uppercase {
      font-size: 12px;
    font-family: arial, sans-serif;
  }
  div.flex.flex-1.gap-1.truncate {
      margin-bottom: 10px;
  }
  div#reference-ember6871 {
      display: none;
  }
  div.rounded-l-3xl.rounded-br-3xl.relative.inbox2__renderable-part.py-3.px-4.bg-blue-light-ib2.dark:bg-dm-blue-dark.text-blue-darkest.dark:text-dm-white {
      background-color: #fcfcfc;
  }
  div.rounded-l-3xl.rounded-r-3xl.relative.inbox2__renderable-part.py-3.px-4.bg-blue-light-ib2.dark:bg-dm-blue-dark.text-blue-darkest.dark:text-dm-white {
      margin: 0;
      padding: 0;
      border: 0;
  }
  div.flex.flex-col.overflow-y-auto.pr-3.pb-12 {
      font-size: 1em;
  }
  div.flex.flex-col.overflow-y-auto.pr-3.pb-12:hover {
      background-color: white;
  }
  div.rounded-r-3xl.rounded-l-3xl.relative.inbox2__renderable-part.py-3.px-4.bg-gray-lightest.dark:bg-dm-gray-darker.text-black.dark:text-dm-white {
      text-decoration: none;
      border-left: solid 2px transparent;
      display: none;
  }
  div.flex.flex-col.flex-1.h-full.relative {
      box-shadow: rgba(0, 0, 0, 0.35) 1px 5px 4px;
  }
  .inbox2__avatar {
      width: 22px;
      height: 22px;
      border-radius: 16px;
      line-height: normal;
      font-size: 13px;
      text-align: center;
      text-transform: uppercase;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
    font-family: arial, sans-serif;
  }
  .inbox2__conversation-list-sidebar {
    width: 19vw !important;
    text-decoration: none !important;
    margin-left: -14vw !important;
    margin-top: -2vh;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding-right: 0px !important;
  }
  ::-webkit-scrollbar-thumb {
      background: #919191;
      border-radius: 2px;
  }
  ::-webkit-scrollbar {
      width: 12px;
      background: #ccced1;
  }
 
 
  .bg-white {
      background-color: #fcfcfc !important;
  } /* second bar preview msg*/
  .text-sm {
      font-size: 0.9rem !important;
      text-shadow: 0;
  padding: 1px;
        background-color: #fcfcfc;
    font-family: arial, sans-serif;
      text-decoration: none;
  } /* indicator of menus and preview chat text*/
 
 
 
  .ml-2 {
      margin-left: 5px;
      font-size: 0.7rem !important;
  }
  .inbox2__composer .embercom-prosemirror-composer-placeholder {
      opacity: none;
      display: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  } 
  
  #ember4 > div.app__wrapper.test__app-wrapper.flex-none.flex.flex-col > div > div > div > div > div.flex.flex-col.flex-grow > div.flex.flex-row.flex-grow.h-0 > div.inbox2__conversation-page.flex.flex-row.flex-1.relative > div.flex.flex-col.inbox2__conversation-stream > div:nth-child(1) > div.h-8.flex.flex-col.mt-4.mb-3.px-6.gap-2.inbox-2__conversation-header > div > div.font-brand.font-medium.flex.flex-col.flex-1.text-lg.u__one-truncated-line > div  {
    margin-bottom: 8px;
  }

  #ember4 > div.app__wrapper.test__app-wrapper.flex-none.flex.flex-col > div > div > div > div > div.flex.flex-col.flex-grow > div.flex.flex-row.flex-grow.h-0 > div.flex.flex-col.inbox2__conversation-list-sidebar.border-r.dark\:border-dm-gray-darker > div > div.flex.flex-row.items-center.justify-between.gap-2.min-h-16.border-b.border-gray-lightest.dark\:border-dm-gray-darker.sticky.top-0.py-4.px-6.mb-2.z-10 > div {
    margin-left: 1vw;
    
  }
  
  
  /* the box of the chat composer*/
  .inbox2__composer__container {
      box-shadow: 0 4px 8px 0rgba (62, 67, 108, 0.1);
      font-size: 1rem;
      word-break: break-word;
      border-radius: 0.1vw;
      font-weight: normal;
      background-color: #fcfcfc;
      color: black;
    font-family: arial, sans-serif;
      border-style: ridge;
      width: 50vw;
      max-width: 60vw;
      height: auto;
      margin-bottom: 1vh;
      text-align:unset;
  }
  div.flex.flex-col.conversation__inbox__current-context {
      display: none;
  }
  .conversation__text {
      word-wrap: break-word;
      -ms-word-break: keep-all;
      word-break: break-word;
      -webkit-hyphens: none;
      hyphens: none;
      font-size: 1em;
      line-height: normal;
  }

  .ml-1 {
      margin-left: -10px;
  }
  .inbox2__logo {
      display: none;
  }
