
* {
  font-family: Arial, Helvetica, sans-serif;
letter-spacing: normal;
word-spacing: normal;
}

a {
  color: blue;
}

a:hover {
  text-decoration: underline;
  color: darkblue;
}


ul li a {
  font-size: 1.7rem;
  font-weight: 500;
  word-spacing: normal;
  letter-spacing: normal;
  font-family: Arial, Helvetica, sans-serif;
}

img.normal {
 height: 10dvh;
 width: 40dvw;

}

div.column-2.clearfix {
  border-radius: 30px;
}

div.collapsible {
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

h2.clearfix {
    border-radius: 20px;
    background-color: skyblue;
}

div center img {
  height: 7dvh;
}

div ul li {
  margin-top: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 14px 0px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px;

}

div div span {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

span.dataBlockLabel {
  color: red;
  font-size: 18px;
  font-weight: 1000;
}

#appTabList {
  background-color: black;
  text-transform: capitalize;
}

div.modulo_banner {
  display: none;
}
